<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
    <h1>Restaurant Menu</h1>

        {% for meal_type, items in meal_types.items %}
            <h2 style="color:red">{{ meal_type }}</h2>
                {% for row in items %}
                    {% if row.status == 1 %}
                        <a href="{% url 'menu_detail' row.pk%}"><h3><del>{{ row.meal }} - {{ row.price }}$</del></h3></a>
                            <p>{{ row.description }} </p>
                    {% else %}
                        <a href="{% url 'menu_detail' row.pk%}"><h3>{{ row.meal }} - {{ row.price }}$</h3></a>
                            <p>{{ row.description }} </p>
                    {% endif %}


                {% endfor %}
        {% endfor %}
</body>
</html>