{% extends 'base.html' %}
{% block content %}

<div class="container mt-4">
    <h1 class="text-center mb-4">Restaurant Menu</h1>
    <div class="list-group list-group-flush">

        {% for meal_type, items in meal_types.items %}
        <div class="card mb-4" style="background-color:
                {% if meal_type == 'Breakfast' %}#e5f0ff
                {% elif meal_type == 'Lunch'%}#fff5e5
                {% elif meal_type == 'Dinner' %}#e5ffe5
                {% elif meal_type == 'Beer' %}#e5fef5
                {% else%}#f8f9fa
                {% endif%}">
            <div class="card-header bg-header text-gray">
                <h2 class="mb-0">{{ meal_type }}</h2>
            </div>
            <div class="card-body">
                <ul class="list-group list-group-flush">
                {% for row in items %}
                    {% if row.status == 1 %}
                    <li class="list-group-item d-flex justify-content-between align-items-center border-0 pb-0">
                        <a href="{% url 'menu_detail' row.pk%}"><h3><del>{{ row.meal }} - {{ row.price }}$</del></h3></a>
                        <span class="badge bg-danger rounded-pill">Unavailable</span>
                    </li>
                    <li class="list-group-item pt-0">
                            <p>{{ row.description }} </p>
                    </li>
                    {% else %}
                        <li class="list-group-item d-flex justify-content-between align-items-center border-0 pb-0">
                            <a href="{% url 'menu_detail' row.pk%}"><h3>{{ row.meal }} </h3></a>
                            <span class="badge bg-success rounded-pill">{{ row.price }}$</span>
                        </li>
                        <li class="list-group-item pt-0">
                                <p>{{ row.description }} </p>
                        </li>
                    {% endif %}
                {% endfor %}
                </ul>
        </div>
    </div>
        {% endfor %}
</div>
{% endblock content %}
