{% extends 'base.html' %}
{% block content %}

<div class="container">
  <h1 class="text-center mb-4">Restaurant Menu</h1>

    <div class="card shadow-lg">
        <div class="card-header bg-primary text-white">
            <h2 >{{ item.meal }}</h2>
        </div>
<!--        <img src="{{ item.image.url }}" class="card-img-top" alt="{{ item.meal }}">-->
        <div class="card-body">
            <p><strong>Description:</strong> {{ item.description }}</p>
            <p><strong>Price:</strong> {{ item.price }} $</p>
            <p><strong>Status:</strong>
                {% if item.status == 0 %}
                    <span class="badge bg-success rounded-pill">Available</span>
                {% else %}
                    <span class="badge bg-danger rounded-pill">Unavailable</span>
                {% endif %}
            </p>  <!-- This is how we display the status of the item -->
        <a href="{% url 'index' %}" class="btn btn-secondary">Back to menu</a>

            <!-- Add to order button -->
            {% if item.status == 0 %}
                <a href="#" class="btn btn-danger ms-auto d-block order-btn" style="float:right;">Order Now</a>
            {% else %}
                <a href="#" class="btn btn-secondary ms-auto d-block order-btn btn-disabled" role="button" aria-disabled="true" style="float:right;" >No Orderable</a>
            {% endif %}
        </div>
    </div>
</div>
{% endblock content %}

<style>
    .order-btn {
        transition: all 0.3s ease-in-out;
        cursor: pointer;
    }
    .order-btn:hover {
        transform: scale(1.1);
        box-shadow: 0 4px 15px rgba(0, 0, 0, 0.2);
    }
    .btn-disabled {
        background-color: #d6d6d6;
        color: #6c757d;
        pointer-events: none;
        box-shadow: none;
        transform: none;
    }
    .btn-disabled:hover {
        transform: none;
        box-shadow: none;
        cursor: none;
    }
</style>