<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
    <nav>
        <ul>
            <li><a href="/home">Home</a></li>
            <li><a href="/about">About</a></li>
            <li><a href="/contact">Contact</a></li>
        </ul>
    </nav>
    <h1>Home</h1>
    <h2>Welcome on my site!</h2>
    <p>Welcome to the home page</p>
    <img src="{{url_for('static', filename='img/python_icon.png')}}" alt="icon" style="width:450px">
    <img src="{{url_for('static', filename='img/jungle-man-sampon-es-tusfurdo-2-az-1ben.png')}}" alt="tusfürdő" style="width:250px">
</body>
</html>